# Host UID for volume permissions
AIRFLOW_UID=1000

# Fernet Key for Airflow database encryption (generate one or use this for local testing)
FERNET_KEY=EVUTFiPIdapyw8r8-L4v4VolSn1eB-s-amodgM1vpiA=

# Host-mapped port for the Airflow API Server/Web UI (change this if port 8080 is already allocated)
AIRFLOW_WEB_PORT=8080


# Warehouse Database Configuration
WAREHOUSE_DB_USER=warehouse_user
WAREHOUSE_DB_PASSWORD=warehouse_password
WAREHOUSE_DB_NAME=dwh
WAREHOUSE_DB_PORT=5432
WAREHOUSE_DB_HOST=localhost

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
